# # Ignore macOS system files.
._*
.DS_Store
.LSOverride
# Icon must end with two carriage returns (\r)
Icon

# # Ignore Windows system files.
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
[Tt]humbs.db

# Backups
*.bak

# Ignore all log files.
*.log
log/
logs/

# Ignore all Databases files.
*.sqlite3

# Ignore the Temporary directory.
*~
*.tmp
*.temp
tmp/
temp/

# Ignore compiled Java class files, object files, and shared libraries.
*.class
*.o
*.so

# Ignore directories commonly used for dependencies in Node.js and PHP projects.
node_modules/
vendor/

# Ignore directories used for build outputs.
/dist
/build

# Ignore Virtual environments
.venv/
venv/
ENV/
env/
.env/

# Ignore environment variable files.
.env
.env.*

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore Python cache directories and compiled files (Python-Specific Patterns).
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Ignore Model files and checkpoints (LLM-Specific Patterns).
# models/
checkpoints/
*.ckpt
*.h5
*.pt

# Ignore temporary files and swap files.
*.swp

# Ignore configuration files and directories for various IDEs and text editors.
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore a specific file.
secret.txt

# Vim
.netrwhist
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
